body{
  font-family:  Arial;
}

.jumbotron{
	background-color: #107BF1;
	color: #fff;

}

h1{

	font-family: serif;
	color:blue;
	color: #fff;
}

.ny-pic {
	float: right;
	width:200px;
	height: 150px;
	margin-top: -165px;
	border:5px double #101AF1;
}

#alphabet {
 
  margin:15px auto;
  padding:0;
 
}

#alphabet li{
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:15px;
  background-color: blue;
  color:white;
  border: solid 1px white;
  font-size: 25px;


}
#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:15px;
}
#catagoryName{
  font-size: 25px;
  text-align: center;
}
#clue{
  font-size: 25px;
  text-align: center;
}

#mylives{
  font-size: 25px;
  text-align: center;
}
button{
   background-color:#008CBA;
   color: white;
   font-size: 40px;
   
 }

button:hover{
     
      background:white;
      border: solid 1px $white;
      color:blue;
    }
#hold{
  text-align: center;
}




